<p>Dude. You really aren't willing to spend even <%= (Integer(cookies[:cheapbastard])/100.0 + 1).truncate %> bucks on your mom?</p>
<p>Don't be an asshat.</p>
<a href="../?cheapbastard=1000000">Alright, I'll spend something, maybe...</a>